/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: inline-block;
  margin: 0 auto;
}

@font-face {
  font-family: pokemonSolid;
  src: url(../fonts/PokemonSolid.ttf);
}

@font-face {
  font-family: pokemonHollow;
  src: url(../fonts/PokemonHollow.ttf);
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1 {
  font-family: pokemonSolid;
  color: #ffcb05;
  -webkit-text-stroke: 3px #365eaa;
  font-size: 60px;
  text-shadow: 1px 1px 5px #365eaa;
  text-align: center;
  /* padding-bottom: 25px; */
}

section {
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 4%;
  color: #365eaa;
  font-family: 'Press Start 2P', cursive;

}

input {
  margin: 10px 10px 20px 10px;
}

p {
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  color: #365eaa;
}

small {
  font-size: 10px;
  font-family: 'Press Start 2P', cursive;
  color: darkolivegreen;
  text-align: center;
}

.s1 {
  padding: 0 10%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.s2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5%;
}

.s3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0% 20% 0% 20%;
}

.s4 {
  padding-top: 4%;
  padding-bottom: 2%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #365eaa;
}

.effectiveness {
  font-family: 'Press Start 2P', cursive;
  color: darkolivegreen;
  border: 4px double darkolivegreen;
  padding: 30px;
  margin: 260px 15% 0 15%;
}

.results-key {
  font-family: 'Press Start 2P', cursive;
  color: #365eaa;
}

.key-explanation {
  color: #365eaa;

}

#button {
  height: 75px;
  width: 75px;
}

#pokeImg1 {
  margin-left: 55%;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 25%;
}

#pokeImg2 {
  margin-right: 55%;
  height: 300px;
  width: 300px;
  position: absolute;
  left: 18%;
}

#center {
  text-align: center;
}

a:link {
  color: darkolivegreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkolivegreen;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #365eaa;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #FFCB05;
  background-color: transparent;
  text-decoration: underline;
}